*{
    box-sizing: border-box;
}

img{
    display: none;
}

.container{
    width: 70%;
    margin: 0 auto;
}

.banner{
    background: #2ECFC3;
}

/*Header Contents*/

.name{
    float: left;
    background: white;
}

.name a{
    color: #00284B;
}

.main-nav {
    float: right;
}

.main-nav a{
    float: left;
}


/**Clear Fix Float**/
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}