/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
h3,
a {
	color: #093a58;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
    /*display: none;*/
}



/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
}

.name a,
.main-nav a {
	text-align: center;
}

.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}

/* ---- Layout Containers ---- */
    
   .col{
      padding: 0 1em;
   }

    .banner {
        color: #fff;
        background: #3acec2;
        padding: 3.2em 0;
       margin-bottom: 60px;
    }

    .main-footer {
        background: #d9e4ea;
        padding: 2em 0;
        margin-top: 30px;
    }

    .main-header{
        padding-top: .5em;
    	padding-bottom: .5em;
    }

    .container{
            padding: 10px 0;
        }
   
   .banner,
   .main-footer{
       text-align: center;
   }
/* ---- Page Elements ---- */

.logo {
	width: 190px;
}
.feat-img {
	width: 100%;
}
.headline{
    margin-bottom: 0;
}

/*********************
Media Query
*********************/

@media (min-width: 769px) {

	.container {
		width: 90%;
		margin: 0 auto;
	}

	.name,
	.col {
		float: left;
	}

	.primary,
	.secondary {
		width: 50%;
	}

	.main-nav {
		float: right;
	}

	.main-nav li {
		display: inline-block;
		margin-left: 15px;
	}

	.tagline {
		font-size: 1.4em;
	}

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}


@media (min-width: 1025px){

    .container{
        width: 85%;
        max-width: 1150px;
        margin: 0 auto;
            }
   
   .name {
       float: left;
   }
   
   .main-nav{
       float: right;
   }

   .main-nav li{
       float: left;
   }

   .main-nav a{
       display: inline-block;
       margin: 1em 10px;
       padding: 0 10px;
   }
   /************** Columns 3 ***********/

   .col{
       float: left;
   }

    .primary{
        width: 40%;
    }
   .secondary,
   .tertiary{
       width: 30%;
       padding-right: 2em;
   }
    /**Clear Fix Float**/
    .clearfix::after{
        content: "";
        display: table;
        clear: both;
    }
}
